$mainBgColor: #bbbbbb61;
$mainTextColor: #2f2e2f;
$headerGradient: linear-gradient(87.94deg, #29a5d4 0%, #096dd9 100%);
$mainBlogBg: #FFF;
$mainFormHeaderBg: #27a4fd;
$footerBg: #3c5775;

$font: 'Poppins', sans-serif;