@import '~antd/dist/antd.css';
@import './vars';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  outline: none!important;
}
a {
  color: $mainTextColor;
}
a:hover {
  color: $mainTextColor;
}
body {
  margin: 0;
  font-family: $font;
  font-size: 14px;
  color: $mainTextColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: 2.8em;
}
h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.3em;
}

h4 {
  font-size: 2.1em;
}

h5 {
  font-size: 1.8em;
}

h6 {
  font-size: 1.5em;
}
