@import '../../styles/vars';
.footer{
    width: 100%;
    height: 80px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #fff;
    align-items: center;
    position: absolute;
    bottom: 0;
    border-top: 2px solid $footerBg;
    p {
        margin-bottom: 0;
    }
}